<div>
  <form [formGroup]="formLogin" (submit)="send()">

    <!--*****Input email***********-->
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email">
    </div>
    <!--*****Input password***********-->
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password"
      [controlErrorsTpl]="messagePasswordError">
    </div>
    <!--*****Input password***********-->
    <div>
      <label for="terms">Terms</label>
      <input type="checkbox" id="terms" formControlName="terms">
    </div>

    <!--*****Button***********-->
    <div>
      <button [disabled]="formLogin.invalid">Send</button>
    </div>
  </form>
</div>

<ng-template let-error let-text="text" #messagePasswordError>
  <!--{{error | json}} {{text}}-->

  
    <b>Error:</b>
  <div *ngIf="error?.minlength">
    <i>No cumples con los caracteres minimos que son ({{error?.minlength?.requiredLength}}), ingresaste solo: {{error?.minlength?.actualLength}}</i>
  </div>
</ng-template>

<div>
  Valido:{{formLogin.valid | json}}
</div>